.carousel-item {
	background-size: cover; 
	height: 610px;
}

.card p {
	margin-top: -10px
	margin-buttom: 1px;
}

.row .card:hover {
	box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
	transform: scale(1.09);
}